@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  --bg: theme(colors.gray.50);
}
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4);
  border-radius: 9999px;
}
